body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    overflow: hidden;
    color:hsl(229, 23%, 23%);  
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
/*personalizando o background*/
#background .c1{
    position: absolute;
    height: 950px;
    top: -500px;
    left: -350px;
    display: flex;
}
#background .c2{
    position: absolute;
    height: 950px;
    bottom: -600px;
    right: -320px;
    display: flex;
}



/*personalizando o cartão*/
#card{
    position: relative;
    background-color: white; 
    width: 350px;
    height: 370px; 
    border-radius: 15px;
    justify-content: center; 
    top: 140px;
}

#card .bluecard{   
    border-radius: 15px 15px 0 0;
    height: 140px;
    padding: 0;
    justify-content: center;
}

#card .photo{ 
    position: absolute;
    border-radius: 50%;
    border: white solid 5px;
    bottom: 178px;
    left: 120px;
    justify-content: center;
}

#card .name{
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}

#card .age{
    font-weight: 400;
    margin-left: 5px;
}
#card .city{
    font-weight: 400;
    font-size: 14px;
}

#social-data{
    border-top: 1px solid rgb(224, 224, 224);
    justify-content: space-around;
    display: flex;

}

#social-data p{
    font-weight: 700;
    padding-top: 15px;
}

#social-data span{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

@media (min-width:1440px){
    #background .c1, #background .c1{
        width: 100%;
        align-items: center;
    }
    #card{
        justify-content: center;
    }
}



